In [1]:
#import data
import pandas as pd

In [2]:
# loading data
database = pd.read_csv(r"D:\Cyber_Success\Projects\Uber Trips Dataset Analysis\Excel Data\uber-raw-data-sep14.csv")

In [3]:
database.head(1)

          Date/Time      Lat      Lon    Base
0  9/1/2014 0:01:00  40.2201 -74.0021  B02512

In [4]:
database.dtypes

Date/Time     object
Lat          float64
Lon          float64
Base          object
dtype: object

In [5]:
database.isnull().sum()

Date/Time    0
Lat          0
Lon          0
Base         0
dtype: int64

In [6]:
#Changing Data Type
database['Date/Time']=database['Date/Time'].astype("datetime64[ns]")

In [7]:
#InFo Extract Date Time
database['Name of Day']=database['Date/Time'].dt.day_name()
database['Day']=database['Date/Time'].dt.day
database['Month']=database['Date/Time'].dt.month
database['Year']=database['Date/Time'].dt.year
database['Hour']=database['Date/Time'].dt.hour

In [10]:
def am_pm_create(hour):
    if 0 <= hour <= 12:
        return "AM"
    elif 12 < hour <= 23:
        return "PM"
database["AM/PM"] = database["Hour"].apply(am_pm_create)
database.head(4)

,Date/Time,Lat,Lon,Base,Name of Day,Day,Month,Year,Hour,AM/PM
0,2014-09-01 00:01:00,40.2201,-74.0021,B02512,Monday,1,9,2014,0,AM
1,2014-09-01 00:01:00,40.7500,-74.0027,B02512,Monday,1,9,2014,0,AM
2,2014-09-01 00:03:00,40.7559,-73.9864,B02512,Monday,1,9,2014,0,AM
3,2014-09-01 00:06:00,40.7450,-73.9889,B02512,Monday,1,9,2014,0,AM

In [12]:
#Export Data
database.to_csv(r"D:\Cyber_Success\Projects\Uber Trips Dataset Analysis\Excel Data\Clean data.csv",index=False)